<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            With earlier experience in school organizations and outside work,  I’ve worked with developing 
			programs, wireless and mobile systems,  electronics, and web development. I consider consistent 
			teamwork to be a very important feature in a successful team, so I’ve built necessary 
			communication skills throughout my college career with people from different backgrounds. 
        </p>
        <p>
           I enjoy learning about new things. Currently, I am seeking a job as a Junior Developer.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Succesful Senior Design Project
    			</li>
          <li>
            Mathematical Induction Calculator Javascript
          <li>
            House Security
    			<li>
            Java Game
    			</li>
    			<li>
            Something
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
