<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Cars</b>. Eventually, I'd like to have my own electric car company. I have my own tuner car.
			  </li>
			  <li>
				  <b>Physics</b>I like to learn how things in the universe work. 
			  </li>
			  <li>
				  <b>Astronomy</b>. I like to learn about the universe.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Security System for house
    		</li>
  			<li>
          Mathematical Induction Caluclator
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Educator/youtuber
  			</li>
  			<li>
  			  Weekend chess player
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
